<?xml version="1.0"?>
<ruleset name="Plugin Name Ruleset">
	<description>Coding Standard Rules for Plugin Name project</description>

	<!-- Exclude the Node Modules directory. -->
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<!-- Exclude the bin directory. -->
	<exclude-pattern>/bin/*</exclude-pattern>

	<!-- Exclude Gruntfile.js. -->
	<exclude-pattern>Gruntfile.js</exclude-pattern>
	
	<!-- Exclude minified JS files. -->
	<exclude-pattern>*.min.js</exclude-pattern>

	<!-- Include the WordPress standards. -->
	<rule ref="WordPress" />

</ruleset>